html body {
    margin-top: 20px;
    height: 100%
}

li.menu {
    display: inline;
    padding: 10px;
}

a:active {
    background-color: blue;
    border: 18px;
}

.parentCourseCard {
    display: inline-block;
}

.card {
    padding: 20px, 15px, 20px, 0px;
    border-bottom: 2px solid #e6e6e6;
    width: 50%;
}

    .card:hover {
        border: .6px solid;
    }

        .card:hover .showDetailedView {
            display: block;
        }

.showDetailedViewDefault {
    display: none;
}

.courseCard {
    display: flex;
    justify-content: left;
    align-items: initial;
    width: 100%;
    padding: 20px, 15px, 20px, 0px;
    border-bottom: 1px solid #e6e6e6;
}

.courseCardChildDiv {
    display: inline-block;
    padding: 10px;
}

.courCardHint {
    padding: 3px;
}


.checked {
    color: orange;
}
