/*https://css-tricks.com/getting-to-know-the-usereducer-react-hook/*/
html, body {
    margin: 10px;
}

body {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
}


.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px 10px;
    grid-template-areas: 'display display display display' '. . . .' '. . . .' '. . . .' '. . . eq' '. zero zero eq';
    width: 20rem;
    height: 30rem;
    border: 1px solid;
    background: #565656;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .1rem .1rem black;
}

.display {
    grid-area: display;
    background: #e6ffdb;
    border: .1rem solid;
    text-align:;
    vertical-align: center;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cursor {
    animation-name: blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.zero {
    grid-area: zero;
}

.eq {
    grid-area: eq;
    background: orange;
    color: white;
}

.btn {
    cursor: pointer;
    color:;
    font-size: 1em;
    border-radius: 1rem;
    box-shadow: .1rem .1rem .1rem .1rem black;
    font-family: ;
}
